@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    position:relative;
}
.menu {
    position:absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
.logo{
    color:blue;
    font-size:25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float:left;
}
.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color:black;
    display:block;
    font-weight: 600;
}
#menu{
 display: none;
}
.menu-icono{
    width: 25px;
    
}
.menu label{
    cursor: pointer;
    display: none;
}


.bg{
    position: absolute;
    width: 700px;
    z-index: -1;
    right:0;
    margin-top: 95px;
}
.esp{
    position: absolute;
    top:700px;
    bottom: 0;
    width: 350px;
}
.header-info{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.header-txt{
    width: 50%;
    padding-right: 35px;
}
.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color:black;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.header-txt p{
    font-size: 18px;
    color:#333;
    margin-bottom: 35px;
    
}
.header-img{
    width: 50%;
    
}
.header-img img{
    width: 650px;
}
.nosotros{
    position:relative
}

.bg-2{
    position:absolute;
    top:0;
    left:0;
    width: 400px;
    z-index: -1;
    
}
.bg-1{
    position: absolute;
    top:0;
    right: 0;
    width: 400px;
    z-index: -1;
}
.nosotros-info{
    padding: 100px 0;
    display:flex;
    align-items: center;
    
}
.nosotros-img{
    width: 50%;
    
}
.nosotros-img img{
    width: 590px;
    
}
.nosotros-txt {
    width: 50%;
    
}

.nosotros-txt h2{
    font-size: 45px;
    color:black;
    margin-bottom: 30px;
    
}
.nosotros-txt p{
    font-size: 18px;
    color:#333;
    margin-bottom: 50px;
}
@media(max-width: 991px) {
    .menu{
        padding: 0px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background-color: white;
        display: none;
        margin-top: 0;
        
    }
    .menu .navbar ul li{
        width: 100%;
    }
    .menu .navbar ul li{
        color:white;
    }
    .menu .navbar ul li a:hover{
        color:#666;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .bg {
        width: 500px;
        
    }
    .esp{
        display: none;
    }
    .header-info {
        flex-direction: column;
        padding: 30px;
    }
    .header-txt{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .header-txt h1{
        font-size: 40px;
        line-height: 50px;
    }
    .header-img{
        width: 100%;
        text-align: center;
        padding: 35px;
    }
    .header-img img{
        width: 300px;
    }
    .nosotros{
        padding: 30px;
    }
    .bg-2{
        top:80px;
        width: 200px;
    }
    .nosotros-info{
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nosotros-img{
        width: 100%;
    }
    .nosotros-img img{
        width: 300px;
    }
    .nosotros-txt{
        width: 100%;
        
    }
    .nosotros-txt h2{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .nosotros-txt p{
        margin-bottom: 20px;
    }
}